*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.app{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    padding: 20px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 10px;
}

.calculadora p {
    display: block;
    width: 98%;
    height: 24px;
    background-color: rgb(210, 217, 223);
    border-radius: 4px;
    text-align: end;
    font-weight: 800;
    line-height: 4px ;
    padding: 20px;
}


h1{
    font-family: sans-serif;
    color: white;
}


.calculadora table td{
    padding: 24px;
    background-color: white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}


.calculadora table{
    border-collapse: separate;
    border-spacing: 2px 2px;
}

table td:hover{
    background-color: rgb(142, 139, 139);
}